{
  "openapi": "3.0.1",
  "info": {
    "title": "LLUMO API Docs",
    "description": "User APIs",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.llumo.ai/api/"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/compress": {
      "post": {
        "summary": "Compress Prompt API",
        "description": "Compresses a prompt for query",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompressResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/create-eval-analytics": {
      "post": {
        "summary": "Create Eval Analytics API",
        "description": "Creates evaluation analytics",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEvalAnalyticsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEvalAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CompressRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string"
          }
        }
      },
      "CompressResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CreateEvalAnalyticsRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string"
          },
          "input": {
            "type": "object"
          },
          "output": {
            "type": "string"
          },
          "analytics": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateEvalAnalyticsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "statusCode": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      }
    }
  }
}
